<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>商家详情</title>
    <meta name="viewport"
          content="width=720,width=device-width,initial-scale=1,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="/css/myself/weui.min.css">
    <link rel="stylesheet" href="/css/myself/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/theme-color.css">
    <link rel="stylesheet" href="/css/myself/mobile.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/myself/jxc-index.css"/>
    <script src="../jxc/asset/v2/js/jquery.js"></script>
</head>
<body>
<footer class="zyw-footer" id="zyx_foot">
    <div class="zyw-container white-bgcolor clearfix">
        <div class="weui-tabbar">
            <a href="/buss" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-1-1.svg" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="/" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-3.svg" alt="">
                </div>
                <p class="weui-tabbar__label">发现</p>
            </a>
            <a href="/cart" class="weui-tabbar__item">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-4.svg" alt="">
                </div>
                <p class="weui-tabbar__label">用户需知</p>
            </a>
            <a href="/home" class="weui-tabbar__item" onclick="home()">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-5.svg" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
</footer>
<div class="g-mn">
    <div class="row-100">
        <div class="row row-1">
            <div class="index-banner proportion" F="0.40625">
                <ul class="swiper-wrapper" id="headPictrue">
                    <li class="swiper-slide">
                        <img id="bussImg_1" src="">
                    </li>
                </ul>
                <div class="index-pagination"></div>
                <div class="banner-title"><p></p></div>
            </div>
            <br/>
        </div>
        <div class="row row-1">
            <div class="row row-1">
                <div class="row-100">
                    <div style="width: 30%;float: left;">
                        <img class="img-border" id="bussImg" src="" style="width: 80px;margin-left: 10px;"/>
                    </div>
                    <div style="width: 70%;float: left;"><h4 class="title-1" id="bussesserName"></h4></div>
                </div>
            </div>
            <div class="row row-1 row-2">
                <div sclass="row-100">
                    <div class="row-top10 float-left-70">
                        <p class="buss-idea" id="bussesserIdea"></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: white;">
            <div class="f-cb row-top-10">
                <HR class="line-1" SIZE=0>
                <div class="row-left" style="width: 100%;">
                    <div style="float: left;width: 10%"><span class="glyphicon glyphicon-map-marker">：</span></div>
                    <div style="float: left;width: 80%">
                        <span class="font-color-1" id="address" style="margin-right: 40px;"></span>
                        <span>距:<span class="font-color-1" id="distance" style="color: #ff5500"></span><span
                                style="color:#737373">km</span></span>
                    </div>
                </div>
            </div>
            <div class="f-cb row-top-10" style="padding-top: 20px;">
                <div class="row-left">
                    <div style="float: left;width: 10%"><span class="glyphicon glyphicon-earphone"
                                                              aria-hidden="true">：</span></div>
                    <span class="font-color-1" id="phone"><a id="callPhone" href=""></a></span>
                </div>
            </div>
        </div>
        <div class="row-100 bottom-10"></div>
    </div>

    <div class="m-box" style="margin: 1px;background: white">
        <div class="row-100 height-30">
            <div class="row-50-1 float-left height-30 text-align-1" id="mouse-1" style="border:1px solid coral;"
                 onclick="bussintra_click()">
                <div style="margin-top: 3px;">
                    <span class="font-size-16" id="mouse-color-1">机构介绍</span>
                </div>
            </div>
            <div class="row-50-1 float-left height-30 text-align-1" style="border:1px solid coral;" id="mouse-2"
                 onclick="course_click()">
                <div style="margin-top: 3px;">
                    <span class="font-size-16" id="mouse-color-2"></span>
                </div>
            </div>
        </div>
        <div class="row-100 bottom-10"></div>

        <!-- 机构介绍 -->
        <div class="row-100" id="bussesserIntraduction">
            <div class="row-100">
                <div class="col-md-4 col-xs-4">
                    <HR class="line-1 border-1" color='#ff5500' SIZE=2>
                </div>
                <div class="col-md-4 col-xs-4 text-align-1 color-1 font-size-16-1">机构介绍</div>
                <div class="col-md-4 col-xs-4">
                    <HR class="line-1 border-1" color='#ff5500' SIZE=2>
                </div>
                <div class="row-100 bottom-10"></div>
                <div class="row row-11 text-1">
                     <span class="intraduce-1 row-11-20 row-top10 font-color-1" id="bussesserIntraduce">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     </span>
                </div>
            </div>
            <div class="row-100 bottom-10"></div>

            <!-- 师资力量 -->
            <div class="row-100">
                <div class="col-md-4 col-xs-4">
                    <HR class="line-1 border-1" color='#ff5500' SIZE=2>
                </div>
                <div class="col-md-4 col-xs-4 text-align-1 color-1 font-size-16-1">师资力量</div>
                <div class="col-md-4 col-xs-4">
                    <HR class="line-1 border-1" color='#ff5500' SIZE=2>
                </div>
                <div class="row-100 bottom-10"></div>
                <div class="row row-11 text-1">
                    <span class="intraduce-1 row-top10 row-11-20 font-color-1" id="tearchPower">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </div>
                <div class="row row-11" id="teacherPowerList">
                </div>
            </div>
            <div class="row-100 bottom-10"></div>

            <div class="m-box">
                <div class="col-md-4 col-xs-4">
                    <HR class="line-1 border-1" color='#ff5500' SIZE=2>
                </div>
                <div class="col-md-4 col-xs-4 text-align-1 color-1 font-size-16-1">机构展示</div>
                <div class="col-md-4 col-xs-4">
                    <HR class="line-1 border-1" color='#ff5500' SIZE=2>
                </div>
                <div class="row-100 bottom-10"></div>
                <div class="row row-11" id="bussesserImg">
                    <li class="swiper-slide">
                        <img class="row-top10 row-100" src="../jxc/attachments/201406/16/18/vixpw021k.jpg">
                    </li>
                </div>
                <div class="m-game-intro f-cb clearfix">
                    <div class="right"></div>
                </div>
                <p><br/></p>
            </div>
        </div>

        <!-- 课程 -->
        <div class="row-1" id="course">
            <div class="m-box">
                <div class="m-box-hd">
                    <div class="tt">机构所有课程</div>
                </div>
                <div class="m-box-mn">
                    <ul class="m-article-list" id="courseList">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部悬浮 -->
    <div class="row-100 ">
        <div class="m-row x-f xuanfu">
            <div class="row-24 float-left" id="wechatConsult" style="background:coral;margin-right: 1px">
                <div>
                    <img class="we-ph" src="../static/h-ui/images/wechat.png"/>
                </div>
                <div>
                    <span class="color-w">微信咨询</span>
                </div>
            </div>
            <div class="row-24 float-left" style="background:coral">
                <a href="tel:" id="callPhones" style="text-decoration:none">
                    <div>
                        <img class="we-ph" src="../static/h-ui/images/phone.png"/>
                    </div>
                    <div>
                        <span class="color-w">电话咨询</span>
                    </div>
                </a>
            </div>
            <div class="row-50 float-left" style="background: red;height: 50px;">
                <div class="b-m" id="registerMorder"><a href="buss_add.html">我要制作</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/myself/mobile.js"></script>
<script src="/js/myself/jweixin-1.0.0.js"></script>
<script src="/js/myself/bussesser.js"></script>
</body>
</html>

