<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>联系我们</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/myself/my-info.css"/>
</head>
<body>
<section  class="contact">
    <div class="contact-details">
        <div class="section-header contact-head  text-center">
            <h2>联系我们</h2>
        </div>
        <h5 class="page-header" style="margin: 20px 0 20px;border-bottom: 1px solid #F34024;"></h5>
        <div class="contact-content">
            <div class="single-contact-box" style="margin-left: 20px">
                <div class="contact-content">
                    <div class="wl-30">
                        <h4 class="co-1">地址:</h4>
                    </div>
                    <div class="wl-70">
                        <span class="co-2">上海市浦东新区三林镇杨思路</span>
                    </div>
                </div>
                <div class="contact-content">
                    <div class="wl-30">
                        <h4 class="co-1">电话：</h4>
                    </div>
                    <div class="wl-70">
                        <span class="co-2">13818572040</span>
                    </div>
                </div>
                <div class="contact-content">
                    <div class="wl-30">
                        <h4 class="co-1">微信：</h4>
                    </div>
                    <div class="wl-70">
                        <span class="co-2">13818572040</span>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="page-header" style="margin: 20px 0 20px;border-bottom: 1px solid #F34024;"></h5>
        <div class="contact-content" style="height: 300px;">
            <div style="text-align: center">
                <img src="/img/weixin-2.jpg" style="width: 230px;height: 230px;">
            </div>
            <div style="text-align: center;margin-top: 5px;">
                <span class="co-1">商家微信二维码</span>
            </div>
        </div>
    </div>
</section>

</body>

</html>