<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <meta name="viewport"
          content="width=720,width=device-width,initial-scale=1,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/css/myself/jxc-index.css"/>
    <link href="/css/myself/my-info.css" rel="stylesheet">
    <link href="/css/myself/weui.min.css" rel="stylesheet">
    <link href="/css/myself/jquery-weui.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/theme-color.css" rel="stylesheet">
    <!-- 必须引入的文件-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div id="weixinshare" >
    <div class="mtop-2" id="teacherPowerListd">
        <div>
            <span class='ml-10' id="no_teacher"></span>
            <hr style="filter: alpha(opacity=100,finishopacity=0,style=3);border-top: 3px solid #eee;" width="100%" color="#6f5499"/>
        </div>
        <div id="teacher_list"></div>
        <div class='row-11' onclick="course_add()">
            <img id="img" class='img-border ml-3' src='/img/myself/btn_add_3x.png'/>
        </div>
    </div>
</div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myself/course/course.js"></script>
</html>