<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加课程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/myself/mobile.css"/>
    <link rel="stylesheet" href="/css/myself/my-info.css"/>
    <link rel="stylesheet" href="/css/myself/jxc-index.css"/>
</head>
<body>
<section class="zyw-container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://img.alicdn.com/imgextra/i4/2590951958/TB2Fz6XfgMPMeJjy1XbXXcwxVXa_!!2590951958.jpg" alt=""></div>
            <div class="swiper-slide"><img src="https://img.alicdn.com/imgextra/i4/2590951958/TB2z.NKbaagSKJjy0FgXXcRqFXa_!!2590951958.jpg" alt=""></div>
            <div class="swiper-slide"><img src="https://img.alicdn.com/imgextra/i4/2590951958/TB2ZxVCbjihSKJjy0FeXXbJtpXa_!!2590951958.jpg" alt=""></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <form id="courseForm" method="post">
        <div class="g-mn" id="weixinshare">
            <div class="">
                <div class="course-d h-90">
                    <div class="m-box-hd">
                        <input type="hidden" id="bussId" th:value="${bussId}">
                        <input type="text" id="courseName" class="cn-font" name="courseName" placeholder="初三数学冲刺（中考提分方向）"/>
                    </div>
                    <div class="m-box-hd" style="margin-top: -4%">
                        <input type="text" id="titalInfo" class="dd-1" name="titalInfo" placeholder="活动期间99元体验价值799元10次课（小班提升），限购30个名额"></input>
                    </div>
                </div>
                <div class="course-d h-60">
                    <div class="m-box-hd h-60">
                        <div style="width: 50%;float: left">
                            <div style="width: 30%;float: left">
                                <button type="button" class="btn btn-warning" style="padding: 4px 9px;background-color: #F04E4E;">原价</button>
                            </div>
                            <div style="width: 55%;float: left;margin-top: 1%">
                                <div style="width: 100%">
                                    <input type="text" id="resource_fee" class="peace-1 wl-70" name="resourceFee" placeholder="￥199.00"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="width: 50%;float: left">
                            <div style="width: 40%;float: left">
                                <button type="button" class="btn btn-warning" style="padding: 4px 9px;background-color: #F04E4E;">限时价</button>
                            </div>
                            <div style="width: 60%;float: left;margin-top: 1%">
                                <div style="width: 100%">
                                    <input type="text" id="courseFee" class="peace-1 wl-70" name="courseFee" placeholder="￥99.00"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 课程 -->
            <div class="row-1" id="course">
                <div class="m-box">
                    <div class="m-box-hd">
                        <div class="tt">课程详情</div>
                    </div>
                    <div class="m-box-mn">
                        <div class="row-1">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程简介</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <textarea id="courseIntraduce" class="jg-1" name="courseIntraduce" placeholder="请输入课程简介"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">适用学员</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <textarea id="applyStudent" class="jg-1" name="applyStudent" placeholder="请输入适用学员"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程目标</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <textarea id="courseGoal" class="jg-1" name="courseGoal" placeholder="请输入课程目标"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程内容</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <textarea id="courseContent" class="jg-1" name="courseContent" placeholder="请输入课程内容"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程特色</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <textarea id="courseSpecial" class="jg-1" name="courseSpecial" placeholder="请输入课程特色"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20" style="height: 50px">
                            <button type="button" class="btn btn-success" style="float: right" onclick="commit()">确认添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/myself/course/course_add.js"></script>
</body>
</html>