<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myself/weui.min.css">
    <link rel="stylesheet" href="/css/myself/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/theme-color.css">
</head>
<body>
<footer class="zyw-footer">
    <div class="zyw-container white-bgcolor">
        <div class="weui-tabbar">
            <a href="/" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-1.svg" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a onclick="course()" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./img/svg/foot-2.svg" alt="">
                </div>
                <p class="weui-tabbar__label">课程</p>
            </a>
            <a class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-5-1.svg" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
</footer>
<section class="zyw-container">
    <div class="home-head white-bgcolor clearfix">
        <div class="head-img">
            <input type="hidden" id="openId" th:value="${openId}">
            <input type="hidden" id="bussId" value="">
            <div class="head-logo"><img id="head_img" src="/img/mylogo.png"></div>
            <div class="head-name"><span id="user_name" style="color: mediumslateblue;"></span></div>
            <div class="head-icon">
                <a href=""><img src="/img/svg/home-cog.svg" alt=""></a>
                <a href=""><img src="/img/svg/home-message.svg" alt=""></a>
            </div>
        </div>
        <div class="head-cont">
            <div class="weui-flex">
                <div class="weui-flex__item" onclick="besaved()"><a href=""><p>12</p><span>被收藏</span></a></div>
                <div class="weui-flex__item" onclick="readme()"><a href=""><p>6</p><span>浏览量</span></a></div>
                <div class="weui-flex__item"o nclick="my_saved()"><a href=""><p>16</p><span>我的收藏</span></a></div>
            </div>
        </div>
    </div>
    <div class="home-cont weui-cells mt-625">
        <a class="weui-cell weui-cell_access" onclick="add_course()">
            <div class="weui-cell__bd">
                <p class="choose-text"><img src="/img/svg/home-1.svg" alt=""> 添加课程</p>
            </div>
            <div class="weui-cell__ft choose-des">
                查看所有课程
            </div>
        </a>
    </div>
    <div class="weui-flex home-order white-bgcolor mb-625">
        <a onclick="course_manager()" class="weui-flex__item" >
            <div class="weui-flex__icon">
                <img src="/img/svg/home-dfk.svg" alt="">
            </div>
            <p class="weui-flex__label">课程管理</p>
        </a>
        <a class="weui-flex__item" onclick="teacher_manager()">
            <div class="weui-flex__icon">
                <img src="/img/svg/home-dfh.svg" alt="">
            </div>
            <p class="weui-flex__label">教师管理</p>
        </a>
        <a class="weui-flex__item" onclick="no_use()">
            <div class="weui-flex__icon">
                <img src="/img/svg/home-dsh.svg" alt="">
            </div>
            <p class="weui-flex__label">号外管理</p>
        </a>
        <a class="weui-flex__item" onclick="recruit()">
            <div class="weui-flex__icon">
                <img src="/img/svg/home-dpj.svg" alt="">
            </div>
            <p class="weui-flex__label">招聘管理</p>
        </a>
        <a class="weui-flex__item" onclick="constomer_words()">
            <div class="weui-flex__icon">
                <img src="/img/svg/home-tk.svg" alt="">
            </div>
            <p class="weui-flex__label">首页管理</p>
        </a>
    </div>
    <div class="home-cont weui-cells mb-625">
        <a class="weui-cell weui-cell_access" id="tobe-buss" onclick="tobe_buss()">
            <div class="weui-cell__bd">
                <p class="choose-text"><img src="/img/svg/home-2.svg" alt=""> 注册成商家</p>
            </div>
            <div class="weui-cell__ft choose-des">
                <span id="buss_register">您还未开通，请开通</span>
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="" onclick="youhui_quan()">
            <div class="weui-cell__bd">
                <p class="choose-text"><img src="/img/svg/home-3.svg" alt=""> 优惠券</p>
            </div>
            <div class="weui-cell__ft choose-des">
                2张
            </div>
        </a>
    </div>
    <div class="home-cont weui-cells mb-625">
        <a class="weui-cell weui-cell_access" href="" onclick="my_info()">
            <div class="weui-cell__bd">
                <p class="choose-text"><img src="/img/svg/home-4.svg" alt=""> 我的信息</p>
            </div>
            <div class="weui-cell__ft choose-des">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="" onclick="idea()">
            <div class="weui-cell__bd">
                <p class="choose-text"><img src="/img/svg/home-5.svg" alt=""> 意见反馈</p>
            </div>
            <div class="weui-cell__ft choose-des">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="/user/logout">
            <div class="weui-cell__bd">
                <p class="choose-text"><img src="/img/svg/home-5.svg" alt=""> 退出登录</p>
            </div>
            <div class="weui-cell__ft choose-des">
            </div>
        </a>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>
