<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/myself/mobile.css"/>
    <link rel="stylesheet" href="/css/myself/my-info.css"/>
    <link rel="stylesheet" href="/css/myself/jxc-index.css"/>
    <link rel="stylesheet" href="/css/myself/weui.min.css">
    <link rel="stylesheet" href="/css/myself/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/theme-color.css">
</head>
<body>
<footer class="zyw-footer">
    <div class="zyw-container white-bgcolor">
        <div class="weui-tabbar">
            <a href="/" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-1.svg" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="/course" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-3.svg" alt="">
                </div>
                <p class="weui-tabbar__label">课程</p>
            </a>
            <a href="/recruit" class="weui-tabbar__item">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;"></span>
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-4.svg" alt="">
                </div>
                <p class="weui-tabbar__label">招贤纳士</p>
            </a>
            <a href="/home" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="/img/svg/foot-5-1.svg" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
</footer>
<section class="zyw-container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="http://image.yingsuit.com/cyclePic/cyclePlay_2.png" alt=""></div>
            <div class="swiper-slide"><img src="http://image.yingsuit.com/cyclePic/cyclePlay_4.png" alt=""></div>
            <div class="swiper-slide"><img src="http://image.yingsuit.com/cyclePic/cyclePlay_6.png" alt=""></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <form id="courseForm" method="post">
        <div class="g-mn" id="weixinshare">
            <div class="">
                <div class="course-d h-90">
                    <div class="m-box-hd">
                        <input type="hidden" id="courseName" th:value="${courseName}">
                        <span class="cn-font-1" id="course_name"></span>
                    </div>
                    <div class="m-box-hd" style="margin-top: -4%">
                        <input type="hidden" id="titalInfo" th:value="${titalInfo}">
                        <span class="dd-1-1" id="tital_info">活动期间99元体验价值799元10次课（小班提升），限购30个名额</span>
                    </div>
                </div>
                <div class="course-d h-60">
                    <div class="m-box-hd h-60">
                        <input type="hidden" id="courseFee" th:value="${courseFee}">
                        <div class="wl-30" style="margin-top: 1%">
                            <div style="float: left;">
                                <span class="peace">￥</span>
                            </div>
                            <div class="wl-70">
                                <span class="peace-1-1" id="course_fee">99</span>
                            </div>
                        </div>
                        <div class="wl-70"><button type="button" style="float: right" class="btn btn-warning">限时抢购价</button></div>
                    </div>
                </div>
            </div>

            <!-- 课程 -->
            <div class="row-1" id="course">
                <div class="m-box">
                    <div class="m-box-hd">
                        <div class="tt">课程详情</div>
                    </div>
                    <div class="m-box-mn">
                        <div class="row-1">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程简介</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <input type="hidden" id="courseIntraduce" th:value="${courseIntraduce}">
                                    <span id="course_intraduce" class="jg-1-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">适用学员</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <input type="hidden" id="applyStudent" th:value="${applyStudent}">
                                    <span id="apply_student" class="jg-1-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程目标</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <input type="hidden" id="courseGoal" th:value="${courseGoal}">
                                    <span id="course_goal" class="jg-1-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程内容</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <input type="hidden" id="courseContent" th:value="${courseContent}">
                                    <span id="course_content" class="jg-1-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row-1 row-top-20">
                            <div class="left-border-1"><span class="font-size-14-1 font-color-1">课程特色</span></div>
                            <div class="row-top10">
                                <div class="row row-11 text-1">
                                    <input type="hidden" id="courseSpecial" th:value="${courseSpecial}">
                                    <span id="course_special" class="jg-1-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/myself/course/course_info.js"></script>
</body>
</html>