<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myself/weui.min.css">
    <link rel="stylesheet" href="/css/myself/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/theme-color.css">
</head>
<body style="background: #fff;">
<header class="zyw-header">
    <div class="zyw-container white-color">
        <h1>推荐使用登录</h1>
    </div>
</header>
<section class="zyw-container">
    <div class="login-img"><img src="/img/weixin_login.jpg"></div>
    <div class="login-btn" style="margin-top: 10%;">
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa2fbe7ca7c970259&redirect_uri=http://www.juxuecheng.com/user/login/&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect" class="weui-btn weui-btn_warn theme-bgcolor" >登录</a>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
