<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>招聘信息</title>
    <meta name="viewport"
          content="width=720,width=device-width,initial-scale=1,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/css/myself/jxc-index.css"/>
    <link href="/css/myself/my-info.css" rel="stylesheet">
    <link href="/css/myself/weui.min.css" rel="stylesheet">
    <link href="/css/myself/jquery-weui.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/theme-color.css" rel="stylesheet">
    <!-- 必须引入的文件-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div id="weixinshare">
       <div id="data-title" class='data-title' style="background: white;">
          <input type="hidden" id="bussId" th:value="${bussId}">
          <span>为你找到如下数据</span>
       </div>
       <div id="null_data" class='no_data'>
          <img class='img-border' src='/img/myself/no_data.png'/>
          <div><span>暂无数据<a id="add_course" style="color: #2285ef;" onclick="add()">，立即添加</a></span></div>
       </div>
        <div id="recruit-list" style="background: white;"></div>
    </div>
     <div id='add-recruit'  onclick="add()">
         <img id="img" class='img-border ml-3' src='/img/myself/btn_add_3x.png'/>
     </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myself/recruit/recruit.js"></script>
</html>