<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>添加教师</title>
    <meta name="viewport"
          content="width=720,width=device-width,initial-scale=1,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/css/myself/jxc-index.css"/>
    <link href="/css/myself/my-info.css" rel="stylesheet">
    <link href="/css/myself/weui.min.css" rel="stylesheet">
    <link href="/css/myself/jquery-weui.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/theme-color.css" rel="stylesheet">
    <!-- 必须引入的文件-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div id="weixinshare" style="background: white;">
        <div>
            <hr style="margin-bottom: 0px" width="100%" color="#6f5499"/>
            <div style="padding: 15px"><a id="">
                    <div style="line-height: 1.5;">
                        <div>
                            <span class="font-size-16-1 color-1" id="">初三数学教师</span>
                            <button type="button" class="recruit-btn">英速科技</button>
                        </div>
                        <div style="margin-top: 3px">
                            <span>艺术教育</span>
                        </div>
                        <div style="margin-bottom: 5px;">
                            <div class="recruit-border">
                                <span class="font-color-1 recruit-remark" id="teacherIntroduce">1-3年</span>
                            </div>
                            <div class="recruit-border">
                                <span class="font-color-1 recruit-remark" id="">本科</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <hr style="border-top: 5px solid #eee;margin-bottom: 0px" width="100%" color="#6f5499"/>
        </div>
        <div style="padding: 15px"><a id="">
            <div style="line-height: 1.5;">
                <div>
                    <span class="font-size-16-1 color-1" id="">初三数学教师</span>
                    <button type="button" class="recruit-btn">英速科技</button>
                </div>
                <div style="margin-top: 3px">
                    <span>艺术教育</span>
                </div>
                <div style="margin-bottom: 5px;">
                    <div class="recruit-border">
                        <span class="font-color-1 recruit-remark" id="teacherIntroduce">1-3年</span>
                    </div>
                    <div class="recruit-border">
                        <span class="font-color-1 recruit-remark" id="">本科</span>
                    </div>
                </div>
            </div>
        </a>
        </div>
        <hr style="border-top: 5px solid #eee;" width="100%" color="#6f5499"/>
    </div>
        <div class='row-11' onclick="add()">
            <img id="img" class='img-border ml-3' src='/img/myself/btn_add_3x.png'/>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myself/recruit/recruit.js"></script>
</html>