.w-1{
    width: 20%;
}
.w-25{
    color: #6F6B6B;
    width: 25%;
}
.f-r{
    float: right;
    margin-right: 25%;
}

.h-5{
    height: 5%;
}
.h-100{
    height: 100%;
}

.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%
}
.w-100{
    width: 100%
}
.h-60{
    height: 60px;
}
.h-90{
    height: 90px;
}
.fm-10{
    float: left;
    margin-right: 10%;
}
.wl-20{
    width: 20%;
    float: left;
}
.wl-30{
    width: 30%;
    float: left;
}
.wl-68{
    width: 68%;
    float: left;
}
.wl-70{
    width: 70%;
    float: left;
}
.wl-80{
    width: 80%;
    float: left;
}
.ml-10{
    margin-left: 10%;
}

.ml-3{
    margin-left: 3%;
}

.ml-30{
    margin-left: 30%;
}

.ml-50{
    margin-left: 50%;
}

.mtop-2{
    margin-top: 2%;
}
.mt-15{
    margin-top: 15%;
}
.co-1{
    margin-left: 10px;
    color: #FB7B1D;
    font-weight: bolder;
}
.co-2{
    margin-left: -20px;
    margin-top: -2px;
}
.co-3{
    height: 45px;
    font-size: 15px;
    font-weight: bolder;
    color: #FF5D0C;
    width: 33.3%;
    float: left;
    text-align: center;
}
.tea-img{
    margin-left: 10%;
    margin-top: -5%;
    height: 80px;
}

.add{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    position: absolute;
    text-align: center;
    margin-top: -80%;
    margin-left: 35%;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 8%;
    left: 5%;
    width: 90%;
    margin-top: 20%;
    padding: 16px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.white_content-1 {
    display: none;
    position: absolute;
    top: 28%;
    left: 5%;
    width: 90%;
    padding: 16px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.enroll-1{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #D7EDF1;
    z-index: 1002;
    overflow: auto;
}

.file-1{
    width: 30%;
    margin-top: -10%;
    position:absolute;
    opacity:0;
}

.t-d-1{
    width: 70%;
    float: left;
    line-height: 1.5;
    margin-left: 5%;
}

.t-i-1{
    width: 24%;
    height: 80px;
    float: left;
}
.course-d{
    background: white;
    margin-bottom: 2px;
}

.cn-font{
    font-size: 20px;
    border: solid 1px #ddd;
    width: 100%;
    height: 30px;
    margin-top: -5px;
    padding: 5px;
    padding-left: 10px;
}

.cn-font-1{
    font-size: 20px;
    width: 100%;
    height: 30px;
    color: mediumpurple;
    font-weight: bold;
    margin-top: -5px;
    padding: 5px;
    padding-left: 10px;
}

.peace{
    font-size: 25px;
    color: red;
}

.peace-1{
    width: 100%;
    margin-top: -2px;
    font-size: 16px;
    height: 30px;
    border: solid 1px #ddd;
    padding-left: 10px;
}

.peace-1-1{
    width: 100%;
    float: left;
    color: coral;
    margin-top: -1px;
    font-size: 28px;
    height: 40px;
}

.course-list{
    margin-left: 3%;
    margin-bottom: 3%
}

.course-1{
    margin-top: 2%;
    width: 50%;
    height: 30%;
    float: left;
}

.course-2{
    margin-top: -35%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.course-3{
    color: grey;
    font-size: 16px;
    font-weight: bold;
}

.course-add{
    margin-top: 5%;
}

.c-blue{
    color: #2fa8ec;
}

.course-n-1{
    margin-top: 8%;
    margin-bottom: 5%;
    font-weight: bold;
    color: #695c5f;
    font-size: 16px;
    width: 100%;
}

.course-name{
    width: 20%;
    float: left;
    padding: 5px 0;
    font-weight: bold;
    background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
    -webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
    -webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
    font-size: 14px;
}

.course-fee{
    font-size: 18px;
    font-weight: bold;
    color: coral;
}

.hr-1{
    margin-left: 8px;
    border-top: 3px solid #555;
    margin-top: 20px;
    margin-bottom: 5px;
}

.recruit-remark{
    border: 1px solid coral;
    border-radius: 3px;
    padding: 0 3px;
}

.recruit-border{
    margin-top: 10px;
    float: left;
    margin-right: 5%;
}

.recruit-btn{
    float: right;
    padding: 0 5px;
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: cornflowerblue;
}