<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingsu.jxc.mapper.TTeacherMapper">
  <resultMap id="BaseResultMap" type="com.yingsu.jxc.entity.TTeacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacher_introduce" jdbcType="VARCHAR" property="teacherIntroduce" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="Bussesser_id" jdbcType="INTEGER" property="bussesserId" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="teacher_logo" jdbcType="VARCHAR" property="teacherLogo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, teacher_name, teacher_introduce, mobile, Bussesser_id, subject_id, teacher_logo, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yingsu.jxc.entity.TTeacher">
    insert into t_teacher (id, teacher_name, teacher_introduce, 
      mobile, Bussesser_id, subject_id, 
      teacher_logo, create_time)
    values (#{id,jdbcType=INTEGER}, #{teacherName,jdbcType=VARCHAR}, #{teacherIntroduce,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{bussesserId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, 
      #{teacherLogo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yingsu.jxc.entity.TTeacher">
    insert into t_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="teacherIntroduce != null">
        teacher_introduce,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="bussesserId != null">
        Bussesser_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="teacherLogo != null">
        teacher_logo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherIntroduce != null">
        #{teacherIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="bussesserId != null">
        #{bussesserId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="teacherLogo != null">
        #{teacherLogo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yingsu.jxc.entity.TTeacher">
    update t_teacher
    <set>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherIntroduce != null">
        teacher_introduce = #{teacherIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="bussesserId != null">
        Bussesser_id = #{bussesserId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="teacherLogo != null">
        teacher_logo = #{teacherLogo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yingsu.jxc.entity.TTeacher">
    update t_teacher
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_introduce = #{teacherIntroduce,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      Bussesser_id = #{bussesserId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      teacher_logo = #{teacherLogo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>